<h1>{{ producto.mensaje }}</h1>
<h4>{{'Precio: '+ producto.precio}}</h4>
<h4>{{'Fecha: '+ producto.fecha}}</h4>
<hr>











<!--<ul>
  <li *ngFor="let fruta of frutas">{{ fruta }}</li>
</ul>
<div *ngIf="condicional">
  <img [src]="imagen" alt="imagen"  />
</div>
<button [disabled]="bloqueado">Bloquear boton</button>

<button (click)="cambiarMensaje('un clic')" (dblclick)="cambiarMensaje('doble click')">Cambiar mensaje</button>
<br>
<input type="text" [(ngModel)]="nombre"  />
<h3>El nombre es: {{ nombre }}</h3>
<br>
<br><br><br>-->